body{
    margin: 1rem 0 1rem 0;
    background-color: #32383e;
    color: white;
    font-family: sans-serif;
}

#header{
    text-align: center;
    margin-bottom: 1rem;
}

#main-home {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

.navbar{
    border-radius: 10px;
}

#form-task{
    margin: 2rem 5rem 2rem 5rem;
}

#createTask{
    margin-top: 2rem;
}

#listTask {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

#table{
    margin: 2rem;
    text-align: center;
}

#tableTask td.description{
    max-width: 200px;
    word-wrap: break-word;
    text-align: justify;
}
